.form-container {
    display: flex;
    flex-direction: column;
    gap: 16px; /* Optional: Adds space between rows */
    width: 50%;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}