<div>
    <h1 style="margin-left: 60px;">{{ headerText }}</h1>
    <div class="flex-center">
        <form [formGroup]="editPetForm" (ngSubmit)="onSubmit()" class="form-container">
            <mat-form-field class="example-full-width">
                <mat-label>Name</mat-label>
                <input matInput placeholder="Ex. Tweety" formControlName="name">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Description</mat-label>
                <textarea matInput placeholder="Ex. A small yellow bird" formControlName="description" rows="3" style="resize: none;"></textarea>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Animal Type</mat-label>
                <mat-select formControlName="type">
                    @for (type of animalTypes; track type) {
                    <mat-option [value]="type.value">{{type.viewValue}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
            <button mat-stroked-button type="submit">{{submitText}}</button>
        </form>
    </div>
</div>